<%- include('partials/header') %>

<body>
<div class="jumbotron centered">
  <div class="container">
    <i class="fa-regular fa-books"></i>
    <h1 class="display-3">BookFinder</h1>
    <p class="lead">The right place for you to find book!</p>
    <hr>
    <a href="/register" class="btn btn-light btn-lg"  role="button">Register</a>
    <a href="/login"  class="btn btn-dark btn-lg" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
